<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Weather Shopper UI Test Automation" parallel="tests" thread-count="5">
  <test name="TestOnChromeBrowser">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="tests.WeatherShopperTest"/>
    </classes>
  </test>
  <test name="TestOnFirfoxBrowser">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="tests.WeatherShopperTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
